h1 {
  text-align: center;
  font-size: 50px;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 2px;
  border: ridge darkgrey 10px;
  background-color: slategray;
  font-family:fantasy;
}

h2 {
  text-align: center;
  font-size: 40px;
  text-decoration: underline solid 3px;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 3px;
}

body {
  background: radial-gradient(black, darkgrey, grey, lightgrey, white), url(https://images.pexels.com/photos/406014/pexels-photo-406014.jpeg?cs=srgb&dl=pexels-lum3n-44775-406014.jpg&fm=jpg);
  background-repeat: repeat;
  background-blend-mode:overlay;
  color: white;
  background-attachment:fixed;
  background-position: center;
}

li.about {
  color: black;
  font-size: 20px;
  padding-bottom: 20px;
  border: solid silver 3px;
  border-radius: 15px;
  background-color: gold;
  font-family:cursive;
  height: auto;
}

ul {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 20%;
  height: auto;
  font-size: 17px;
  font-family:sans-serif;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: .75px;
  list-style-type:none;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  width: 200px;
  border-radius: 30px;
  box-sizing:border-box;
  margin-top: 30px;
  margin-bottom: 30px;
}

ul.eli {
  border: ridge 2px grey;
  background-color: darkslategrey;
}

ul.sherry {
  border: ridge 2px lightgrey;
  background-color: darkolivegreen;
}

ul.david {
  border: ridge 2px darkgrey;
  background-color:slateblue;
}

ul.about_us {
  border: solid black 2px;
  background-color: darkolivegreen;
  font-size: 25.25px;
  padding-bottom: 22px;
}

img.dog {
  border: ridge 2px blue;
}

img.cat {
  border: groove 2px red;
}

img.bunny {
  border: double 2px purple;
}

img {
  width: 85%;
  height: 85%;
}

a.adopt {
  font-family:monospace;
  font-size: 24px;
  color: black;
  border: solid silver 3px;
  border-radius: 10px;
  background-color: grey;
}

a {
  text-decoration: none;
}


.leftsidebar {
  float: left;
  display:block;
  box-sizing:border-box;
}

.rightsidebar {
  float: right;
}

.title {
  text-align: center;
  border: solid grey 5px;
  background-color: slateblue;
  border-radius: 12px;
  font-size: 30px;
  font-family:fantasy;
  color: black;
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: .25px;
}

.head {
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 30px;
  border: solid grey 3px;
  background-color: black;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 1px;
}

.info {
  font-size: 25px;
  font-family: monospace;
}

.link {
  background-color: grey;
  border: solid black 4px;
  border-radius: 10px;
  font-size: 20px;
  text-align: left;
  -webkit-text-stroke-stroke: 3px;
  -webkit-text-stroke-color: rgb(185, 81, 81);
}

a.link {
  color: red;
  border: none;
  font-size: 15px;
}